html{
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
}

* , *::before , *::after {
    box-sizing: inherit;
}

.job-results {
    padding: 90px;
}

@media (max-width: 767px) {
    .job-results {
        padding: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .job-results {
        padding: 50px; 
    }
}

@media (min-width: 1024px) {
    .job-results {
        padding: 90px;
    }
}
